%div
  %h2
    = @group.name
    group
    %span.follow
      - if @group.owner == current_user
        = link_to 'e', {:controller => "groups", :action => "edit", :id => @group.id}, {:class => "edit", :title => "edit"}
        = link_to 'd!', @group, {:confirm => "Deleting, You sure ?", :method => :delete, :title => "destroy"}
      - elsif @group.users.include?(current_user)
        = link_to "q", {:controller => :groups, :action => :quit, :id => @group.id}, {:confirm => "Quitting the group, You sure ?", :method => :delete, :title => "quit"}
      - else
        = link_to "j", {:controller => :groups, :action => :join, :id => @group.id}, {:method => :post, :title => "join"}

  %p
    Owned by :
    = link_to image_tag("http://www.gravatar.com/avatar/#{@group.owner.hash}?s=20", :alt => @group.owner.name), {:controller => "/posts", :action => :index, :username => @group.owner.name}, {:title => @group.owner.name, :alt => @group.owner.name}
  %p= @group.desc

  %h3 Members
  = render "groups/members", :group => @group
  
  %h3 Bookmarks
  = render "posts/posts_short", :posts => @bookmarks
  .pagination
    = will_paginate(@bookmarks)