= link_to post.link.url, post.link.url
%span.description= post.title
%span.added_on= post.bookmarked_at.strftime("%d/%m/%Y @ %H:%M")
%span.manage
  = link_to 'e', :controller => "posts", :action => "edit", :id => post.id
  = link_to 'd!', post, :confirm => "Deleting, You sure ?", :method => :delete