%div.author_grav
  = link_to image_tag("http://www.gravatar.com/avatar/#{post.user.hash}?s=40",:alt => post.user.name), {:controller => :posts, :action => :index, :username => post.user.name}, {:title => post.user.name, :alt => post.user.name}

%div.link
  = link_to post.title, post.link.short_url, {:class => "title"}
  %span.date
    = post.date_to_s
  %span.manage
    - if (current_user && (post.user == current_user))
      = link_to 'e', {:controller => "posts", :action => "edit", :id => post.id}, {:class => "edit", :title => "edit"}
      = link_to 'd!', post, {:confirm => "Deleting, You sure ?", :method => :delete, :title => "destroy"}
    - elsif (current_user && post.user != current_user && !current_user.links.include?(post.link))
      = link_to 'c', {:controller => "posts", :action => "create", :id => post.id}, {:method => :post}
  - if post.private?
    %span.private P

%div.desc
  = post.comment

%div.post_tags
  - if post.tags.size > 0
    - post.tags.each do |tag|
      %span.tag
        = image_tag("/images/icons/tag-small.png")
        = link_to tag, :controller => "posts", :action => "index", :tag => tag.name, :username => post.user.name