.grid_13.prefix_1
  %h2 Edit Bookmark

  = form_for(:bookmark, :url => "update") do |f|
    %p
      = fields_for("url") do |fl|
        = fl.label :url
        = fl.text_field :url, :value => @bookmark.url

    %p
      = f.label :title
      = f.text_field :title
      = f.hidden_field :id, :value => @bookmark.id

    %p
      = f.label :comment
      %br
      = f.text_area :comment, :cols => 40, :rows => 3

    %p
      = f.label "Tags (comma separated)"
      = f.text_field :tags, :value => @bookmark.tags.join(", ")
    %p
      = f.label "Private ?"
      = f.check_box :private
  
    %p
      = f.submit("Update")
