.grid_15
  %h1
    - if current_user
      - if params[:all_users] && params[:tag]
        = "Bookmarks in " + params[:tag]
      - elsif params[:username]
        - if (current_user.name == params[:username])
          Your Bookmarks
        - else
          = params[:username] + "'s Bookmarks "
      - else
        Your Bookmarks
    - elsif params[:username]
      = params[:username] + "'s Bookmarks "
    - elsif params[:tag]
      = "Bookmarks in " + params[:tag]
    - else
      Some bookmarks
    = '(' + @posts_count.to_s + ')'
    - if current_user && (!params[:username])
      = link_to( '+', :action => 'new')
    - elsif (current_user && params[:username])
      - if( current_user.name == params[:username])
        = link_to( '+', :action => 'new')

  
  - if (params[:tag] || params[:username] || params[:fromdt] || params[:todt] || params[:page])
    - if current_user
      - cache(:action => 'index', :action_suffix => params.to_s + "_#{current_user.id}", :expires_in => 10.minute) do
        %ul
          - @posts.each do |post|
            %li.bookmark
              = render "short_post", :post => post
      .pagination
        = will_paginate(@posts)
    - else
      - cache(:action => 'index', :action_suffix => params.to_s, :expires_in => 10.minute) do
        %ul
          - @posts.each do |post|
            %li.bookmark
              = render "short_post", :post => post
      .pagination
        = will_paginate(@posts)
  - else
    - if current_user
      - cache(:action => 'index', :action_suffix => "all_user_#{current_user.id}_posts", :expires_in => 10.minute) do
        %ul
          - @posts.each do |post|
            %li.bookmark
              = render "short_post", :post => post
      .pagination
        = will_paginate(@posts)
    - else
      - cache(:action => 'index', :action_suffix => "public_all_post", :expires_in => 10.minute) do
        %ul
          - @posts.each do |post|
            %li.bookmark
              = render "short_post", :post => post
      .pagination
        = will_paginate(@posts)
.clear
- unless params[:tag]
  .grid_15
    %h1 Tags
    - cache(:action => 'index', :action_suffix => "tags_#{@user.name}", :expires_in => 30.minute) do
      - tag_cloud(@tags, %w(tag_css1 tag_css2 tag_css3 tag_css4)) do |tag, css_class|
        = link_to tag.name, { :controller => "posts", :action => "index", :tag => tag.name, :username => @user.name }, :class => css_class
.clear