.grid_15
  %h1
    - if current_user
      - if params[:username]
        - if (current_user.name == params[:username])
          Your Bookmarks
        - else
          = params[:username] + "'s Bookmarks "
      - else
        Your Bookmarks
    - elsif params[:username]
      = params[:username] + "'s Bookmarks "
    - elsif params[:tag]
      = "Bookmarks in " + params[:tag]
    - else
      Some bookmarks
    = '(' + @posts_count.to_s + ')'
    - if current_user && (!params[:username])
      = link_to( '+', :action => 'new')
    - elsif (current_user && params[:username])
      - if( current_user.name == params[:username])
        = link_to( '+', :action => 'new')

  %ul
  - @posts.each do |post|
    %li.bookmark
      = render "short_post", :post => post

  .pagination
    = will_paginate(@posts)