%div
  %h2
    - if current_user
      - if params[:all_users] && params[:tag]
        = "Bookmarks in " + params[:tag]
      - elsif params[:username]
        - if (current_user.name == params[:username])
          Your Bookmarks
        - else
          = params[:username] + "'s Bookmarks "
      - else
        Your Bookmarks
    - elsif params[:username]
      = params[:username] + "'s Bookmarks "
    - elsif params[:tag]
      = "Bookmarks in " + params[:tag]
    - else
      Some bookmarks
    = '(' + @posts_count.to_s + ')'

  
  - if (params[:tag] || params[:username] || params[:fromdt] || params[:todt] || params[:page])
    - if current_user
      - cache(:action => 'index', :action_suffix => params.to_s + "_#{current_user.id}", :expires_in => 10.minute) do
        = render "posts/posts_short", :posts => @posts
      .pagination
        = will_paginate(@posts)
    - else
      - cache(:action => 'index', :action_suffix => params.to_s, :expires_in => 10.minute) do
        = render "posts/posts_short", :posts => @posts
      .pagination
        = will_paginate(@posts)
  - else
    - if current_user
      - cache(:action => 'index', :action_suffix => "all_user_#{current_user.id}_posts", :expires_in => 10.minute) do
        = render "posts/posts_short", :posts => @posts
      .pagination
        = will_paginate(@posts)
    - else
      - cache(:action => 'index', :action_suffix => "public_all_post", :expires_in => 10.minute) do
        = render "posts/posts_short", :posts => @posts
      .pagination
        = will_paginate(@posts)
.clear