.grid_13.prefix_1
  %h2 New Bookmark

  = form_for(:bookmark, :url => { :action => "create" }) do |f|
    %p
      = fields_for("url") do |fl|
        = fl.label :url
        = fl.text_field :url

    %p
      = f.label :description
      = f.text_field :title

    %p
      = f.label "Tags (comma separated)"
      = f.text_field :tags, :value => ""
    %p
      = f.label "Private ?"
      = f.check_box :private
  
    %p
      = f.submit("Post")
