<div class="grid_15 prefix_1">
<h2><%= @user.email %></h2>

<p id="notice"><%= notice %></p>

<p>Role : <%= @user.roles_to_s %></p>

<%= link_to 'Edit', :action => :edit, :id => @user.id %> |
<%= link_to 'Back', :action => :index %>
</div>
<div class="clear"></div>