- if current_user
  - if params[:username] && (params[:username] != current_user.name)
    %div.sidebar
      = @user.name
      - if current_user.followed.include?(@user)
        %span.follow
          = link_to "unfollow", :controller => :users, :action => :follow, :id => @user.id, :method => :delete
      - else
        %span.follow
          = link_to("follow", :controller => :users, :action => :follow, :id => @user.id, :method => :post)
    
    %h4.sidebar
      = "Following (#{@user.followed.count})"
    = render "application/follows", :user => @user, :kind => "followed"
    
    %h4.sidebar
      = "Followed by (#{@user.followers.count})"
    = render "application/follows", :user => @user, :kind => "followers"
      
    %h4.sidebar
      Groups
    
    %div.side_bar_tags
      %h4.sidebar Tags
      .tags
        - cache(:action => 'index', :action_suffix => "all_tags", :expires_in => 30.minute) do
          - tag_cloud_limited(@user.bookmarks.tag_counts_on(:tags), %w(tag_css1 tag_css2 tag_css3 tag_css4), 20) do |tag, css_class|
            %span.tag
              = image_tag("/images/icons/tag-small.png")
              = link_to tag.name, { :controller => "posts", :action => "index", :tag => tag.name, :all_users => true }, :class => css_class

  %div.sidebar
    You
  %h4.sidebar
    = link_to "Your bookmarks", :controller => :posts, :action => :index
    = " (#{current_user.bookmarks.size.to_s})"
    
    %h4.sidebar
      = "Following (#{current_user.followed.count})"
    = render "application/follows", :user => current_user, :kind => "followed"

    %h4.sidebar
      = "Followed by (#{current_user.followers.count})"
    = render "application/follows", :user => current_user, :kind => "followers"

  %h4.sidebar
    Groups

%div.side_bar_tags
  - if @tags
    %h4.sidebar Tags
    .tags
      - cache(:action => 'index', :action_suffix => "all_tags", :expires_in => 30.minute) do
        - tag_cloud_limited(current_user.bookmarks.tag_counts_on(:tags), %w(tag_css1 tag_css2 tag_css3 tag_css4), 20) do |tag, css_class|
          = image_tag("/images/icons/tag-small.png")
          = link_to tag.name, { :controller => "posts", :action => "index", :tag => tag.name, :all_users => true }, :class => css_class