<!DOCTYPE html>
<html>
<head>
  <title>Poulpzor</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag :flutie, :cache => true %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  
<%= link_to 'Twitter Authentication', :controller => 'devise/sessions', :action => 'new', :warden_oauth_provider => 'twitter' %>

<%= yield %>

</body>
</html>
