<!DOCTYPE html>
<html>
<head>
  <title>Poulpzor</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag :flutie, :cache => true %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) if !current_user %>

<%= yield %>

</body>
</html>
