<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head profile="http://gmpg.org/xfn/11">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Altelicious :: Bookmarks</title>

<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/reset.css" />
<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/text.css" />
<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/960.css" />
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" />

  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container_16" id="main">
    <div class="grid_2 prefix_1">
      <h1><%= link_to "Altelicious", root_path %></h1>
    </div>
    <div class="clear"></div>
    <div class="grid_3 prefix_13" id="user_info">
      <p>
        <% if !current_user %>
          <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %><br />
          <%= link_to "Sign up", new_user_registration_path %> / <%= link_to('Sign in', new_user_session_path) %>  
        <% end %>
        <% if current_user %>
          Hello <%= link_to current_user.name, "/users/edit" %> ! <%= link_to "Logout", "/users/sign_out" %>
          <% end %>
        </p>
    </div>
    <div class="clear"></div>
    <% if current_user %>
      <div class="grid_6 prefix_1" id="menu">
        <%= link_to "Bookmarks", posts_path %>
        <%= link_to "Add a Bookmark", new_post_path %>
        <%= link_to "Import from delicious", :controller => "/posts", :action => "import" %>
      </div>
      <div class="clear"></div>
    <% end %>
    <div class="grid_16" id="content">
      <%= yield %>
    </div>
    <div class="clear"></div>
    <div class="grid_16" id="footer">
      <%= link_to "Altelicious", "https://github.com/mcansky/altelicious" %>, <%= link_to "Bug reports", "https://github.com/mcansky/altelicious/issues" %>
    </div>

  </div>
</body>
</html>
